.oculus-control-color{
    stroke: #fff;
  
}
.oculus-control-color-fill{
    fill: #fff;
}

.control-info-cont{
    background-image: linear-gradient(to bottom, rgb(115, 171, 171) 0%, rgb(152, 124, 186) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 80px 0;

    svg{
        width: 90%;
    }

    .oculus-control-title{
        width: 80%;
        margin: 1em auto 2em auto;
        text-align: center;
        color: rgba(255, 255, 255, 0.774);
    }
}

.faq-title{
        text-align: center;
        margin: 4em auto 0 auto;
}