@import '../../../styles/common/setting.scss';

.header-cont{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    // background-image: linear-gradient(to bottom, rgba(48, 208, 208, 0.329) 0%, rgba(51, 8, 103, 0.74) 100%), url("/public/assets/img/1.png");
    // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/public/assets/img/1.png");
   // background-image: linear-gradient(to bottom, rgba(115, 171, 171, 0.33) 0%, rgba(152, 124, 186, 0.74) 100%), url("./assets/img/1.png");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
  //  animation: bgAnimation 20s alternate-reverse infinite ease;
    .menu-cont{
        position: absolute;
        top: 0;
        left: 0;
    }

    .header-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        h1{
            color: #fff;
            font-size:6vw;
        }

        .logo{
            height: 250px;
            margin-bottom: 10px;
        }
    
        .btn-cont{
            width: 100%;
            display: flex;
            margin-top: 1em;
            justify-content: space-between;
            button{
                width: 280px;
                height: 55px;
                border-radius: 99px;
                background-color: $vr-secundary-dark;
                border: none;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;

                &:hover{
                    background-color: lighten($color: $vr-secundary-dark, $amount: 3%);
                }
              
            }

            a{
                color: #fff;
                text-decoration: none;
                width: 280px;
            }
        }
    }

   
}

@keyframes bgAnimation {
    0%{
        background-image: linear-gradient(to bottom, rgba(115, 171, 171, 0.33) 0%, rgba(152, 124, 186, 0.74) 100%),url(assets/img/header/1.png);
    }

    60%{
    
        background-image: linear-gradient(to bottom, rgba(115, 171, 171, 0.33) 0%, rgba(152, 124, 186, 0.74) 100%),url(assets/img/header/2.png);
    }

    100%{
      
        background-image: linear-gradient(to bottom, rgba(115, 171, 171, 0.33) 0%, rgba(152, 124, 186, 0.74) 100%),url(assets/img/header/4.png);
    }
}

@media (max-width: 1000px) {
   .header-cont{
    .header-content{
        .btn-cont{
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button{
              margin-top: 1em;
            }
        }

        h1{
            font-size: 55px;
        }

        .logo{
            height: 160px;
            margin-bottom: 10px;
        }
    }
   }

}