@import '../../../styles/common/setting.scss';

.menu-cont{
    display: flex;
    background-color:$vr-dark-violet;
    padding: 0.8em;
    justify-content: space-between;

    .menu-right{
        display: flex;
    }

    .menu-link{
        margin: 0 0.5em;
        font-weight: bolder;

        p{
            color: #fff;
        }
    }
}