@import "../../styles/common/setting.scss";

.about-game-cont {
    background-color: #b6bfe6;
    background-color: $vr-dark-violet;
    padding: 2em 0 15em 0;
    margin-top: -2em;
    z-index: 3;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background-color: $vr-dark-violet;
        width: calc(100% + 50px);
        height: 200px;
        transform: rotate(5deg);
        left: -50px;
        top: -100px;
    }

    .about-game-content {
        position: relative;
        z-index: 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width:480px;
        margin: 2em auto 0 auto;
        h1 {
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            z-index: 2;

            // &::before {
            //     content: "";
            //     position: absolute;
            //     background-color: rgb(156, 156, 238);
            //     width: 150px;
            //     height: 100px;
            //    // transform: rotate(5deg);
            //     left: -50px;
            //     top: -100px;
            // }
        }

        img{
            position: absolute;
            width: 380px;
            left: -330px;
            top: -4em;
        }

        button {
          align-self: flex-end;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            font-weight: bold;
            height: 55px;
            border-radius: 99px;
            cursor: pointer;
            width: 200px;
            

            &:hover{
                background-color:rgba($color: #fff, $alpha: 0.1) ;
            }
        }
        a {
          align-self: flex-end;
           margin-top: 2em;
            color: #fff;
            font-weight: bold;
            height: 55px;
            border-radius: 99px;
            cursor: pointer;
            width: 200px;
        }
    }
}
