*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2C2C34;
}

$vr-bg:#f2f6f9;
$vr-dark-violet:#353373;
$vr-medium-violet:#453294;
$vr-pale-violet:#d2d6f9;
$vr-secundary:#eab684;
$vr-secundary-dark:#fe8457;


body{
    background-color: $vr-bg;
}