@import '../../styles/common/setting.scss';
.ranking-title{
    margin: 1.5em auto 2em auto;
    text-align: center;
    width: 80%;
    text-transform: uppercase;
    color: #8c8c95;
}
.ranking-cont{
    display: flex;
    max-width: 1450px;
    margin: -3em auto 0 auto;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 4;
    flex-wrap: wrap;

    .ranking-content{
        background-color: #fff;
        border-radius: 12px;
        width: 250px;
        height: 405px;
        padding: 1em;
        margin:0 1.5em 1.5em 1.5em ;
        box-shadow: 0px 4px 20px rgba(82, 76, 192, 0.315);
    }
    .ranking-item-header{
        height: 100px;
        width: calc(100% + 2em);
        margin: -1em 0 1.5em -1em;
        background-position: center;
        background-size: cover;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            color: #fff;
        }
    }
   
    .rankig-item{
        width: 100%;
        padding: 0 0.3em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:  flex-start;
        margin: 0.6em 0;
        padding-bottom: 0.6em;
        border-bottom: 1px solid darken($color: $vr-bg, $amount: 10%) ;

        &:last-child{
            border-bottom: none;
        }
       

        .rankig-item-section{
            display: flex;
            width: 100%;
            position: relative;
            padding-left: 1.2em;

            .medal{
                position: absolute;
                left: -0.5em;
                top: -0.2em;
            }
            span{
                width: 60%;
                font-weight: bold;
                white-space:nowrap;
                overflow:hidden;
                text-overflow: ellipsis;
            

                &:nth-child(3){
                    width: 50%;
                    color: lighten($color: $vr-medium-violet, $amount: 30%)
                    
                }
                &:nth-child(2){
                  margin-right: 0.5em;
                    
                }
            }
        }
    }
}

@media (max-width: 700px) {

    .ranking-title{
        margin: 0.5em auto 2em auto;
        
    }
 }